body{
  text-align: center;
  background-color: yellow;
  color: white;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  padding-bottom: 30px;
}


/* ------------------------------- Main Element ------------------------------- */

.main-element{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  padding: 50px 0 50px 0;
  box-shadow: 0 0 24px 0 rgba(178, 183, 29, 0.8), 0 1px 0 0 rgba(157, 162, 16, 0.8);
  border-radius: 30px;
  transition:  1s;
}

/* ------------------------------------------------------------------------------ Media Queries -------------------------------------------------------------------------------- */

/* ----------------------------------------------- TO DO: ADD MEDIA QUERIES FOR SAMSUNG/GALAXY DEVICES ----------------------------------------------- */

@media only screen and (max-width: 600px) {
  .main-element {
    margin-top: 200px;
  }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .main-element {
      padding-top: 0px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .main-element {
      margin-top: 300px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .main-element {
      padding-top: 0px;
    }

}




/* -- iPhone 6+, 7+ and 8+ -- */


/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .main-element {
      margin-top: 350px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .main-element {
      padding-top: 0px;
    }

}



/* -- iPhone X -- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .main-element {
      padding-top: 0px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .main-element {
      margin-top: 400px;
      padding-left: 150px;
      padding-right: 150px;
      
    }

}




/*-----------------------------------END OF MEDIA QUERIES ----------------------------------- */

/* --------- Main Element Text --------- */

.Landing-Page-Heading{
  padding: 50px 0 10px 0;
  background: linear-gradient(to right, darkblue, darkorchid);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 2s;
}

.Landing-Page-Heading:hover, .Landing-Pag-Heading:active{
  font-size : 70px;
}

.Landing-Page-Text{
  padding-top: 10px;
  padding-bottom: 10px;
  color: darkorchid;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 36;
}

@keyframes example {
  0% {color: #301934;}
  20% {color: #200020;}
  40%  {color: #400040;}
  60%  {color: #600060;}
  80%  {color: darkorchid;}
  100% {color: #CBC3E3;}
  
}



/*----------------------------------- Input Element ----------------------------------- */
#input-el{
  padding: 10px 30px 10px 30px ;
  border-radius: 15px;
  border: none;
  text-align:left; 
  box-sizing: border-box;
}

/* ----------------------------------- Submit Button ----------------------------------- */
#submit-btn{
  padding: 20px 50px 20px 50px;
  margin-bottom: 50px;
  border-radius: 23px;
  background: linear-gradient(to right, darkblue, darkorchid);
  color: white;
  font-weight: bold;
  border: none;
  transition:  0.3s ease-out !important;
}

#submit-button:hover{
  transform:  scale(1.05) !important; 
}

.button-submit{
  transition: 0.3s ease-out;
}

.button-submit:hover, .button-submit:active{
  transform: scale(1.05);
}

/* --------------------------------------------------- Details Form Section -------------------------------------------- */


.Competition-Form{
  background-color: yellow;
  display: None;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 150px;
  margin-bottom: 200px;
  padding: 50px 0 50px 0;
  box-shadow: 0 0 24px 0 rgba(178, 183, 29, 0.8), 0 1px 0 0 rgba(157, 162, 16, 0.8);
  border-radius: 30px;
  transition:  1s;
}


/* ---- Form-Text ---- */

.Form-text{
  color: darkmagenta;
}

#Form-El{
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 250;
  width: 300px;
}

.Form-Label{
  margin-bottom: 20px;
  margin-top: 20px;
  color: darkmagenta;
  font-weight: bold;
  font-size: 25px;

  
}

.page{
  transition: all 1s;
}



/* ---------------------------------- CATALOG PAGE ---------------------------------------- */

/* --------Catalog Parent Div --------*/

.catalog-element{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------Catalog Section Headings --------*/

.section-heading{
  margin: 15px 0 15px 0;
  color: #200020;
}

/* --------Catalog Section Sections --------*/

/* ----- Albums Div ----- */

.albums{
  margin: 5px 0 5px 0

}

/* ----- EPs Div ----- */
.eps{
  margin: 5px 0 5px 0

}

/* ----- Singless Div ----- */
.singles{
  margin: 5px 0 20px 0;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}


img { 
	transition: all .4s ease-in-out; 
  margin: 10px 10px 0 10px;
  border-radius: 7.5%;
}
img:hover, img:active { 
    	transform: scale(1.2); 
}


