body{
  text-align: center;
  background-color: yellow;
  color: white;
  background-image: url("yellow1.jpg");
  background-size: cover;
  height: 100vh;
}

#Landing-Page{
 
}

/* ------------------------------- Main Element ------------------------------- */

.main-element{
  background-color: rgba(255, 255, 255, .15); 
  backdrop-filter: blur(5px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  padding: 50px 0 50px 0;
  box-shadow: 0 0 24px 0 rgba(178, 183, 29, 0.8), 0 1px 0 0 rgba(157, 162, 16, 0.8);
  border-radius: 30px;
  transition:  1s;
  
  
}

/* ------------------------------------------------------------------------------ Media Queries -------------------------------------------------------------------------------- */

/* ----------------------------------------------- TO DO: ADD MEDIA QUERIES FOR SAMSUNG/GALAXY DEVICES ----------------------------------------------- */

@media only screen and (max-width: 600px) {
  .main-element {
    margin-top: 200px;
  }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .main-element {
      padding-top: 0px;
    }

    .Landing-Page-Text{
      margin: 0 5px 0 5px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .main-element {
      margin-top: 300px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .main-element {
      padding-top: 0px;
    }

}




/* -- iPhone 6+, 7+ and 8+ -- */


/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .main-element {
      margin-top: 350px;
    }
    .Landing-Page-Text{
      margin: 0 5px 0 5px;
    }


}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .main-element {
      padding-top: 0px;
    }

}



/* -- iPhone X -- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .main-element {
      padding-top: 0px;
    }
    


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .main-element {
      margin-top: 400px;
      padding-left: 150px;
      padding-right: 150px;
      
    }
    .Landing-Page-Text{
      margin: 0 5px 0 5px;
    }


}




/*-----------------------------------END OF MEDIA QUERIES ----------------------------------- */

/* --------- Main Element Text --------- */

.Landing-Page-Heading{
  padding: 50px 0 10px 0;
  color: black;
  font-family: 'Permanent Marker', cursive;
  transition: font-size 2s;
}

.Landing-Page-Heading:hover, .Landing-Pag-Heading:active{
  font-size : 70px;
}

.Landing-Page-Text{
  padding-top: 10px;
  padding-bottom: 10px;
  color: darkorchid;
  font-family: 'Permanent Marker', cursive;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 36;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  0% {font-family: 'Fredoka One', cursive; color: #000000;}
  20% {font-family: 'Lobster', cursive; color: #090909;}
  40%  {font-family: 'Permanent Marker', cursive; color: #131313;}
  0% {font-family: 'Fredoka One', cursive; color: #1A1A1A;}
  20% {font-family: 'Lobster', cursive; color: #202020;}
  100%  {font-family: 'Orbitron', sans-serif; color: #000000;}
  
}



/*----------------------------------- Input Element ----------------------------------- */
#input-el{
  padding: 10px 30px 10px 30px ;
  border-radius: 15px;
  border: none;
  text-align:left; 
  box-sizing: border-box;
}

/* ----------------------------------- Submit Button ----------------------------------- */
#submit-btn{
  padding: 20px 50px 20px 50px;
  margin-bottom: 50px;
  border-radius: 23px;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  transition:  0.3s ease-out !important;
}

#submit-button:hover{
  background: #36454F !important;
  transform:  scale(1.05) !important; 
  
}

.button-submit{
  transition: 0.3s ease-out;
}

.button-submit:hover, .button-submit:active{
  transform: scale(1.05);
  background: #36454F !important;
}

/* --------------------------------------------------- Details Form Section -------------------------------------------- */


.Competition-Form{
  background-color: rgba(255, 255, 255, .15); 
  backdrop-filter: blur(5px); 
  display: None;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  margin-bottom: 200px;
  padding: 50px 0 50px 0;
  box-shadow: 0 0 24px 0 rgba(178, 183, 29, 0.8), 0 1px 0 0 rgba(157, 162, 16, 0.8);
  border-radius: 30px;
  transition:  1s;
  
}


/* ---- Form-Text ---- */

.Form-text{
  font-family: 'Fredoka One', cursive;
  color: black
}

#Form-El{
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 250;
  width: 300px;
}

.Form-Label{
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #36454F;
  font-weight: bold;
  font-size: 25px;
  

  
}

.page{
  transition: all 1s;
}


/* ----------------------------------------NAVBAR EDITS ----------------------------------------*/ 

.nav-link, .navbar-brand{
  font-family: 'Orbitron', sans-serif;
  color: #400040 !important;
  transition: color 1.5s !important;
}

.nav-link:hover,.nav-link:active,.navbar-brand:hover,.navbar-brand:active{
  color: #CBC3E3 !important;
}


/* ----------------------------------------NAVBAR EDITS ----------------------------------------*/ 





/* ---------------------------------- CATALOG PAGE ---------------------------------------- */

/* --------Catalog Parent Div --------*/
.catalog-element{
  background-color: rgba(255, 255, 255, .15); 
  backdrop-filter: blur(5px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  
  padding: 50px 0 50px 0;
  box-shadow: 0 0 24px 0 rgba(178, 183, 29, 0.8), 0 1px 0 0 rgba(157, 162, 16, 0.8);
  border-radius: 30px;
  
}

/* --------Catalog Section Headings --------*/


.section-heading{
  margin: 15px 0 15px 0;
  color: #200020;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: #400040;
  transition: color 1.5s;
}

.section-heading:hover, .section-heading:active{
  color: #CBC3E3;
}
/* --------Catalog Section Sections --------*/



/* ----- Albums Div ----- */

.albums{
  margin: 5px 0 5px 0;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

}

/* ----- EPs Div ----- */
.eps{
  margin: 5px 0 5px 0;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

}

/* ----- Singless Div ----- */
.singles-image-1{
  margin: 5px 0 20px 0;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.singles-image-2{
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  margin: 10px 0 20px 0;
  flex-wrap: wrap;
  
}


img { 
	transition: all .4s ease-in-out; 
  margin: 10px 10px 0 10px;
  border-radius: 7.5%;
}
img:hover, img:active { 
    	transform: scale(1.2); 
}


/*--------------------------------- Player Section -------------------*/



.player-title-art{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: inline;

}

